In [41]:
import pandas as pd
import datetime 
from astral.moon import phase

In [42]:
df = pd.read_csv(r"ETH-BTC.csv")

In [43]:
df["moon_phase"]=" "
df

,Date,Open,High,Low,Close,Adj Close,Volume,moon_phase
0,2017-11-10,0.044889,0.045845,0.044752,0.045217,0.045217,133872.0,
1,2017-11-11,0.045116,0.050445,0.047089,0.049497,0.049497,132487.0,
2,2017-11-12,0.049498,0.052312,0.053453,0.051749,0.051749,271170.0,
3,2017-11-13,0.051600,0.054462,0.051703,0.048284,0.048284,158837.0,
4,2017-11-14,0.048291,0.051687,0.048276,0.050881,0.050881,161200.0,
...,...,...,...,...,...,...,...,...
1896,2023-01-19,0.073240,0.073623,0.073198,0.073627,0.073627,305055.0,
1897,2023-01-20,0.073618,0.073247,0.073706,0.073193,0.073193,376111.0,
1898,2023-01-21,0.073190,0.072026,0.071428,0.071435,0.071435,388945.0,
1899,2023-01-22,0.071446,0.072324,0.071890,0.071670,0.071670,330891.0,
1900,2023-01-23,0.071633,0.072108,0.070960,0.070960,0.070960,348125.0,

In [44]:
df['Date'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1901 entries, 0 to 1900
Series name: Date
Non-Null Count  Dtype
--------------  -----
1901 non-null   object
dtypes: object(1)
memory usage: 15.0+ KB

In [45]:
df["Date"]=pd.to_datetime(df["Date"])

In [46]:
df['Date'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1901 entries, 0 to 1900
Series name: Date
Non-Null Count  Dtype
--------------  -----
1901 non-null   datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 15.0 KB

In [1]:
for index, row in df.iterrows():
    date = row["Date"]
    phase_moon = phase(date)
    df.at[index, "moon_phase"] = phase_moon

df

NameError: name 'df' is not defined

In [48]:
def imprimir_fase(phase):
    if phase >=0 and phase <7:
        return "ðŸŒ‘ new moon"
    elif phase >= 7 and phase <14 :
        return "ðŸŒ“ first quarter"
    elif phase >=14 and phase <21:
        return "ðŸŒ• full moon"
    elif phase >=21 and phase <28 :
        return "ðŸŒ— last quarter"
    else:
        return "Fase lunar desconocida."

In [49]:
df["name_phase"] = ""

for index, row in df.iterrows():
    phase = row["moon_phase"]
    name_phase = imprimir_fase(phase)
    df.at[index, "name_phase"] = name_phase

In [50]:
df

,Date,Open,High,Low,Close,Adj Close,Volume,moon_phase,name_phase
0,2017-11-10,0.044889,0.045845,0.044752,0.045217,0.045217,133872.0,20.566778,ðŸŒ• full moon
1,2017-11-11,0.045116,0.050445,0.047089,0.049497,0.049497,132487.0,21.577889,ðŸŒ— last quarter
2,2017-11-12,0.049498,0.052312,0.053453,0.051749,0.051749,271170.0,22.589,ðŸŒ— last quarter
3,2017-11-13,0.051600,0.054462,0.051703,0.048284,0.048284,158837.0,23.522333,ðŸŒ— last quarter
4,2017-11-14,0.048291,0.051687,0.048276,0.050881,0.050881,161200.0,24.455667,ðŸŒ— last quarter
...,...,...,...,...,...,...,...,...,...
1896,2023-01-19,0.073240,0.073623,0.073198,0.073627,0.073627,305055.0,25.389,ðŸŒ— last quarter
1897,2023-01-20,0.073618,0.073247,0.073706,0.073193,0.073193,376111.0,26.400111,ðŸŒ— last quarter
1898,2023-01-21,0.073190,0.072026,0.071428,0.071435,0.071435,388945.0,27.489,ðŸŒ— last quarter
1899,2023-01-22,0.071446,0.072324,0.071890,0.071670,0.071670,330891.0,0.577889,ðŸŒ‘ new moon
1900,2023-01-23,0.071633,0.072108,0.070960,0.070960,0.070960,348125.0,1.744556,ðŸŒ‘ new moon

In [51]:
df[(df['moon_phase'] >= 14) & (df['moon_phase'] <21) ]

,Date,Open,High,Low,Close,Adj Close,Volume,moon_phase,name_phase
0,2017-11-10,0.044889,0.045845,0.044752,0.045217,0.045217,133872.0,20.566778,ðŸŒ• full moon
24,2017-12-04,0.041159,0.040790,0.040807,0.040336,0.040336,86260.0,14.811222,ðŸŒ• full moon
25,2017-12-05,0.040344,0.039736,0.038712,0.038876,0.038876,102102.0,15.900111,ðŸŒ• full moon
26,2017-12-06,0.038820,0.038761,0.029244,0.029989,0.029989,139821.0,16.989,ðŸŒ• full moon
27,2017-12-07,0.029834,0.031400,0.026650,0.024269,0.024269,118973.0,18.077889,ðŸŒ• full moon
...,...,...,...,...,...,...,...,...,...
1887,2023-01-10,0.076841,0.076838,0.076811,0.076611,0.076611,334178.0,16.989,ðŸŒ• full moon
1888,2023-01-11,0.076606,0.077387,0.076339,0.077387,0.077387,352102.0,17.844556,ðŸŒ• full moon
1889,2023-01-12,0.078358,0.075388,0.076505,0.075144,0.075144,648143.0,18.700111,ðŸŒ• full moon
1890,2023-01-13,0.075145,0.073214,0.074806,0.072910,0.072910,385952.0,19.555667,ðŸŒ• full moon
1891,2023-01-14,0.072901,0.074431,0.072885,0.073927,0.073927,736289.0,20.489,ðŸŒ• full moon

In [52]:
df[(df['moon_phase'] >= 14) & (df['moon_phase'] <21) ].sort_values(by="Date",ascending=False).tail(20)

,Date,Open,High,Low,Close,Adj Close,Volume,moon_phase,name_phase
88,2018-02-06,0.101755,0.101817,0.094973,0.102286,0.102286,840633.0,19.944556,ðŸŒ• full moon
87,2018-02-05,0.100877,0.102410,0.095311,0.100348,0.100348,613855.0,19.011222,ðŸŒ• full moon
86,2018-02-04,0.105142,0.103808,0.100242,0.100843,0.100843,362098.0,18.077889,ðŸŒ• full moon
85,2018-02-03,0.104092,0.105182,0.102703,0.105071,0.105071,353516.0,17.066778,ðŸŒ• full moon
84,2018-02-02,0.112945,0.115897,0.084418,0.103704,0.103704,760218.0,15.977889,ðŸŒ• full moon
83,2018-02-01,0.109515,0.131432,0.111064,0.113057,0.113057,573759.0,14.966778,ðŸŒ• full moon
59,2018-01-08,0.070293,0.079013,0.071434,0.075710,0.075710,557081.0,20.566778,ðŸŒ• full moon
58,2018-01-07,0.059509,0.069984,0.059508,0.069984,0.069984,338028.0,19.633444,ðŸŒ• full moon
57,2018-01-06,0.057096,0.060669,0.056414,0.059433,0.059433,266003.0,18.622333,ðŸŒ• full moon
56,2018-01-05,0.062551,0.064124,0.057147,0.057243,0.057243,383439.0,17.611222,ðŸŒ• full moon
55,2018-01-04,0.063266,0.068298,0.064354,0.062883,0.062883,416872.0,16.522333,ðŸŒ• full moon
54,2018-01-03,0.059137,0.064353,0.058503,0.063333,0.063333,335055.0,15.433444,ðŸŒ• full moon
53,2018-01-02,0.056552,0.065830,0.056686,0.059033,0.059033,386017.0,14.344556,ðŸŒ• full moon
29,2017-12-09,0.027602,0.034300,0.027460,0.031196,0.031196,132021.0,20.177889,ðŸŒ• full moon
28,2017-12-08,0.024302,0.029983,0.023632,0.027522,0.027522,141005.0,19.089,ðŸŒ• full moon
27,2017-12-07,0.029834,0.031400,0.026650,0.024269,0.024269,118973.0,18.077889,ðŸŒ• full moon
26,2017-12-06,0.038820,0.038761,0.029244,0.029989,0.029989,139821.0,16.989,ðŸŒ• full moon
25,2017-12-05,0.040344,0.039736,0.038712,0.038876,0.038876,102102.0,15.900111,ðŸŒ• full moon
24,2017-12-04,0.041159,0.040790,0.040807,0.040336,0.040336,86260.0,14.811222,ðŸŒ• full moon
0,2017-11-10,0.044889,0.045845,0.044752,0.045217,0.045217,133872.0,20.566778,ðŸŒ• full moon

In [53]:
df

,Date,Open,High,Low,Close,Adj Close,Volume,moon_phase,name_phase
0,2017-11-10,0.044889,0.045845,0.044752,0.045217,0.045217,133872.0,20.566778,ðŸŒ• full moon
1,2017-11-11,0.045116,0.050445,0.047089,0.049497,0.049497,132487.0,21.577889,ðŸŒ— last quarter
2,2017-11-12,0.049498,0.052312,0.053453,0.051749,0.051749,271170.0,22.589,ðŸŒ— last quarter
3,2017-11-13,0.051600,0.054462,0.051703,0.048284,0.048284,158837.0,23.522333,ðŸŒ— last quarter
4,2017-11-14,0.048291,0.051687,0.048276,0.050881,0.050881,161200.0,24.455667,ðŸŒ— last quarter
...,...,...,...,...,...,...,...,...,...
1896,2023-01-19,0.073240,0.073623,0.073198,0.073627,0.073627,305055.0,25.389,ðŸŒ— last quarter
1897,2023-01-20,0.073618,0.073247,0.073706,0.073193,0.073193,376111.0,26.400111,ðŸŒ— last quarter
1898,2023-01-21,0.073190,0.072026,0.071428,0.071435,0.071435,388945.0,27.489,ðŸŒ— last quarter
1899,2023-01-22,0.071446,0.072324,0.071890,0.071670,0.071670,330891.0,0.577889,ðŸŒ‘ new moon
1900,2023-01-23,0.071633,0.072108,0.070960,0.070960,0.070960,348125.0,1.744556,ðŸŒ‘ new moon

In [54]:
df= df.drop(columns= 'Adj Close', axis=1)

In [55]:
df

,Date,Open,High,Low,Close,Volume,moon_phase,name_phase
0,2017-11-10,0.044889,0.045845,0.044752,0.045217,133872.0,20.566778,ðŸŒ• full moon
1,2017-11-11,0.045116,0.050445,0.047089,0.049497,132487.0,21.577889,ðŸŒ— last quarter
2,2017-11-12,0.049498,0.052312,0.053453,0.051749,271170.0,22.589,ðŸŒ— last quarter
3,2017-11-13,0.051600,0.054462,0.051703,0.048284,158837.0,23.522333,ðŸŒ— last quarter
4,2017-11-14,0.048291,0.051687,0.048276,0.050881,161200.0,24.455667,ðŸŒ— last quarter
...,...,...,...,...,...,...,...,...
1896,2023-01-19,0.073240,0.073623,0.073198,0.073627,305055.0,25.389,ðŸŒ— last quarter
1897,2023-01-20,0.073618,0.073247,0.073706,0.073193,376111.0,26.400111,ðŸŒ— last quarter
1898,2023-01-21,0.073190,0.072026,0.071428,0.071435,388945.0,27.489,ðŸŒ— last quarter
1899,2023-01-22,0.071446,0.072324,0.071890,0.071670,330891.0,0.577889,ðŸŒ‘ new moon
1900,2023-01-23,0.071633,0.072108,0.070960,0.070960,348125.0,1.744556,ðŸŒ‘ new moon

In [56]:
df.insert(df.columns.get_loc('Close')+1, 'pct_change', df['Close'].pct_change())

In [59]:
df.columns= df.columns.str.lower()
df

,date,open,high,low,close,pct_change,volume,moon_phase,name_phase
0,2017-11-10,0.044889,0.045845,0.044752,0.045217,NaN,133872.0,20.566778,ðŸŒ• full moon
1,2017-11-11,0.045116,0.050445,0.047089,0.049497,0.094655,132487.0,21.577889,ðŸŒ— last quarter
2,2017-11-12,0.049498,0.052312,0.053453,0.051749,0.045498,271170.0,22.589,ðŸŒ— last quarter
3,2017-11-13,0.051600,0.054462,0.051703,0.048284,-0.066958,158837.0,23.522333,ðŸŒ— last quarter
4,2017-11-14,0.048291,0.051687,0.048276,0.050881,0.053786,161200.0,24.455667,ðŸŒ— last quarter
...,...,...,...,...,...,...,...,...,...
1896,2023-01-19,0.073240,0.073623,0.073198,0.073627,0.005106,305055.0,25.389,ðŸŒ— last quarter
1897,2023-01-20,0.073618,0.073247,0.073706,0.073193,-0.005895,376111.0,26.400111,ðŸŒ— last quarter
1898,2023-01-21,0.073190,0.072026,0.071428,0.071435,-0.024019,388945.0,27.489,ðŸŒ— last quarter
1899,2023-01-22,0.071446,0.072324,0.071890,0.071670,0.003290,330891.0,0.577889,ðŸŒ‘ new moon
1900,2023-01-23,0.071633,0.072108,0.070960,0.070960,-0.009907,348125.0,1.744556,ðŸŒ‘ new moon